*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

p {
    margin: 0 0 10px;
}

body {
    margin: 0;
    /*font-family: 'Open Sans', sans-serif;*/
    font-family: 'Raleway', sans-serif;
    /* font-family: 'Cardo', serif*/
    font-size: 14px;
    color: #6c7279;
    background-color: #fff;
    -webkit-font-smoothing;
}

/*==========NAV===========*/
.nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
}

.nav__link {
    color: #fff;
    margin-left: 50px;
    text-decoration: none;
    -webkit-transition: .2s;
    transition: .2s;
    opacity: 0.75;
}

.nav__link:first-child {
    margin-left: 0;
}

.nav__link:hover {
    opacity: 1;
    cursor: pointer;
}

/*=============HEADER=============*/
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0px auto;
    padding: 0 15px;
}

.header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
}

.header.fixed {
    position: fixed;

    height: auto;

    background-color: #31344e;

}

.header.fixed .header__inner {
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: none;

}

.header__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 35px 10px;
    border-bottom: 1px solid #e6e6e6;
}

/*=============INTRO=============*/
.intro {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 750px;
    padding-top: 100px;
    background: #31344e;
    background: url(../img/intro-bg.jpg) center no-repeat;
    background-size: cover;
}

.intro__inner {
    width: 100%;
    max-width: 970px;
    margin: 0 auto;
    text-align: center;
}

.intro__title {
    margin: 0 0 30px;
    font-family: 'Open Sans', sans-serif;
    font-size: 65px;
    line-height: 1.1;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
}

.intro__subtitle {
    font-size: 22px;
    line-height: 1.5;
    color: #fff;
    font-weight: 400;
    margin-bottom: 60px;
}

/*===========BTN==============*/
.btn {
    display: inline-block;
    vertical-align: top;
    padding: 14px 40px;

    border-radius: 2px;
    border: none;
    cursor: pointer;

    text-align: center;
    color: #fff;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
}

.btn--long {
    min-width: 280px;
}

.btn--red {
    background-color: #e84545;
}

.btn--red:hover {
    background-color: #e84536;
}

/*=============Features================*/
.features {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 95px 0;
}

.features__item {
    text-align: center;
    width: 33.33333%;

    padding: 0 40px;
    margin: 30px 0;
}

.features__icon {
    margin-bottom: 20px;
}

.features__title {
    color: #2d3033;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.features__text {
    color: #6c7279;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
}

/*=============WORKS==============*/

.works {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.works__item {
    position: relative;
    width: 25%;
    height: 350px;
    overflow: hidden;
    border: 1px solid #fff;
}

.works__photo {
    min-width: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;

    -webkit-transform: translate3d(-50%, -50%, 0);

    transform: translate3d(-50%, -50%, 0);
}

.works__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    height: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;

    background-color: rgba(232, 69, 69, 0.9);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;

    opacity: 0;
    -webkit-transition: opacity .2s liner;
    -webkit-transition: opacity .2s linear;
    transition: opacity .2s linear;
}

.works__item:hover .works__content {
    opacity: 1;
}

.works__title {
    margin-bottom: 5px;
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}

.works__text {
    color: #ffffff;
    font-family: Raleway;
    font-size: 14px;
    font-weight: 400;
}

/*===============TEAM=============*/
.team {
    margin: 100px 0 70px;
}

.team__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.team__item {
    width: 25%;
    text-align: left;
    padding: 0 15px;
    margin-bottom: 30px;
}

.team__photo {
    display: block;
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.team__name {
    color: #2d3033;
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 8px;
}

.team__prof {
    color: #e84545;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.team__text {
    color: #6c7279;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 15px;
}

/*===============SOCIAL=============*/
.social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.social__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    margin-right: 8px;

    border: 1px solid #e8e8e8;
    background-color: #fff;

    -webkit-transition: background0.2s linear;

    transition: background0.2s linear;

}

.social--footer .social__item:last-child {
    margin-right: 0px;
}

.social__icon {
    display: block;
    height: 18px;
    fill: #c6cacc;

    -webkit-transition: fill .1s linear;

    transition: fill .1s linear;
}

.social__item:hover {
    background-color: #c6cacc;
}

.social__item:hover .social__icon {
    fill: #000
}

.social--footer {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.social--footer .social__item {
    background-color: transparent;
    border-width: 2px;
    border-color: #fff;
    border-radius: 2px;
}

.social--footer .social__item:hover {
    background-color: #fff;
}

.social--footer .social__icon {
    fill: #fff;

}

/*=============REVIEWS===============*/
.reviews {
    overflow: hidden;
    background-color: #53354a;
}

.reviews__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

}

.reviews__photo {
    width: 50%;
    height: 500px;
    position: relative;
}

.reviews__img {
    position: absolute;
    right: 0;
    top: 50%;
    z-index: 1;

    -webkit-transform: translateY(-50%);

    transform: translateY(-50%);
}

.reviews__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 50%;
    padding-left: 80px;
}

.reviews__text {
    font-family: 'Cardo', sans-serif;
    font-style: italic;
    font-size: 36px;
    line-height: 1.2;
    color: #fff;

    margin-bottom: 25px;
}

.reviews__author {
    font-size: 13px;
    font-weight: 700;
    line-height: 21px;
    text-transform: uppercase;
    color: #fff;
}

/*==========DOWNLOAD==========*/
.download {
    margin: 90px 0;
    text-align: center;
}

.download__title {
    font-size: 28px;
    font-weight: 300;
    line-height: 21px;
    color: #2d3033;

    margin-bottom: 20px;
}

.download__text {
    color: #2d3033;
    font-size: 13px;
    font-weight: 700;
    line-height: 21px;
    text-transform: uppercase;
    margin-bottom: 30px;

}

/*=============FOOTER=============*/
.footer {

    background-color: #3a3e64
}

.footer__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

    padding: 70px 0px;
}

.footer__block {
    width: 33.33333%;

    text-align: center;
}

.footer__title {
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.footer__address {
    font-style: normal;
    opacity: 0.5;
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
}

.footer__text {
    font-style: normal;
    opacity: 0.5;
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
}

.copyright {
    padding: 20px 0;
    background-color: #313454;
}

.copyright__text {
    text-align: center;
    color: #808080;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
}

.copyright__text span {
    color: #ffffff;
}

.burger {
    display: none;
    padding: 9px 2px;

    background: none;
    border: 0;
    cursor: pointer;

}

.burger__item {
    display: block;
    width: 28px;
    height: 3px;

    background-color: #fff;

    font-size: 0;
    color: transparent;

    position: relative;
}

.burger__item:before {
    content: '';
    width: 30px;
    height: 100%;

    background-color: #fff;
    position: absolute;
    right: 0;
    z-index: 1;
    top: -8px;
}

.burger__item:after {
    content: '';
    width: 26px;
    height: 100%;

    background-color: #fff;
    position: absolute;
    right: 0;
    z-index: 1;
    bottom: -8px;
}

/*===========MEDIA=========*/
@media (max-width: 1300px) {

    .works__item {
        width: 50%;
    }
}

@media (max-width: 991px) {
    /* Navifation */

    .nav {
        display: none;
        width: 100%;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        background-color: #31344e;
        text-align: right;

        position: absolute;
        top: 100%;
        right: 0;
    }

    .nav__link {
        padding: 9px 15px;
    }

    .nav.show {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    .burger {
        display: block;
    }

    /* Intro */

    .intro__title {
        font-size: 40px;
    }

    /* Fearures*/
    .features {
        margin: 40px;
    }

    .features__item {

        width: 50%;
    }

    /* Team */
    .team {
        margin: 60px 0 30px;
    }

    .team__item {
        width: 50%;
        text-align: center;
    }

    .team__photo {
        margin-left: auto;
        margin-right: auto;
    }

    .social {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    /* Reviews */
    .reviews__photo {
        width: 100%;
        overflow: hidden;
    }

    .reviews__content {
        width: 100%;
        padding-left: 0;
        padding-bottom: 40px;
    }

}

@media (max-width: 767px) {

    .works__item {
        width: 100%;
        height: 300px;
    }

    .intro {
        height: auto;
        padding-top: 130px;
        padding-bottom: 30px;
    }

    .intro__title {
        font-size: 30px;
    }

    .intro__subtitle {
        margin-bottom: 30px;
        font-size: 16px;
    }

    .features__item {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }

    .team__item {
        width: 100%;
    }

    .reviews__text {
        font-size: 25px;
    }

    .download {
        margin: 50px 0;
    }

    .btn--long {
        min-width: 260px;
    }

    .footer__inner {
        padding: 30px 0;
    }

    .footer__block {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
        margin-bottom: 30px;

    }

    .footer__block:last-child {
        margin-bottom: 0;
    }
}

@media (max-width: 414px) {
    .reviews__img {
        right: -100px;
    }
}